node_modules
.DS_Store
.idea
lerna-debug.log
npm-debug.log
.happypack
package-lock.json
yarn.lock
yarn-error.log
tempDir
coverage/
.ice/

.eslintcache
build
.tmp/
npmrc
.history

# 本地调试
packages/*/template/scaffold/package.json
packages/*/template/pnpm-lock.yaml
packages/*/template/**/esm
packages/*/template/**/es2017
packages/*/template/.docusaurus
